#light {
    background-color: white;
    max-width: 100%;
    height: 100%;
    text-align: center;
    

}

#dark {
    background-image: url("https://assets.entrepreneur.com/content/3x2/2000/20190425112608-7-Reasons-Why-Nerds-Rule-The-Business-World.jpeg?crop=1:1");
    max-width: 100%;
    height: 1000px;
    text-align: center;
}
