#light {
    background-color: white;
    max-width: 100%;
    height: 100%;
    text-align: center;
    

}

#dark {
    background-image: url("https://i.guim.co.uk/img/media/03b248a38342922414013d948ea68909b83daa14/0_100_3000_1800/500.jpg?quality=85&auto=format&fit=max&s=f2c62565a0554e317a349351e5e8594c");
    max-width: 100%;
    height: 1000px;
    text-align: center;
}
