#light {
    background-color: white;
    max-width: 100%;
    height: 100%;
    text-align: center;
    

}

#dark {
    background-image: url("https://static.wikia.nocookie.net/muppet/images/5/5a/Elmo-elmo-elmo.jpg/revision/latest/scale-to-width-down/280?cb=20110917000614");
    max-width: 100%;
    height: 1000px;
    text-align: center;
}
